includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - app
    excludePaths:
        - vendor
    ignoreErrors:
        - '#generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory#'
        # TransientToken vs PersonalAccessToken runtime check - necessary for mixed auth
        - '#Instanceof between Laravel\\Sanctum\\PersonalAccessToken and Laravel\\Sanctum\\PersonalAccessToken will always evaluate to true#'
